# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Logs
*.log

# VSCode
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini

# Ignore temporary files
*.tmp
*.bak
